{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

  <head>
  	{{ solid.embed("head_pre") }}
  </head>

  <body>
  	<!-- header -->
  	{{ solid.embed("body_header") }}

  	<!-- main -->
    <main class="container-fluid row-fluid">

      
        <div id="main_cart" class="col-sm-12">
				  {{ solid.embed("body_main_cart") }}
		    </div>

    </main>

  	<!-- footer -->
  	{{ solid.embed("body_footer") }} 

  </body>
</html>