{{ solid.embed("config") }}
<!DOCTYPE html>
<html lang="{{solid.getLang('short')}}">

  <head>
  	{{ solid.embed("head_pre") }}
  </head>

  <body>
  	<!-- header -->
  	{{ solid.embed("body_header") }}

    <!-- main -->
    <main class="container-fluid row-fluid">

      
        <div id="main_cart" class="col-sm-12">
               {% set products = product.getList() %}
                  {% for product in products %}
                        <li>
                            <a href="{{product.url}}" title="{{product.name}}">
                              <div data-content="{{product.name}}" title="{{product.name}}" class="image">
                                  <img src="{{product.thumbnail}}" alt="{{product.name}}" />
                              </div>
                            </a>
                        </li>
                  {% else %}
                       There are no products!
                  {% endfor %}
        </div>

    </main>

  	<!-- footer -->
  	{{ solid.embed("body_footer") }} 

  </body>
</html>