<footer id="footer">
	<div class="row">
		<div class="container-fluid">
			<p>
				<a href="#">Terms & Conditions</a> | <a href="#">Easy returns & exchanges</a> | <a href="#">Privacy</a>
			</p>
		</div>
	</div>
	<div class="row icons">
		<div class="container-fluid">
			<a href="/">
				<i class="icon-hup"></i>
			</a>
			<a href="/">
				<i class="icon-hup-facebook"></i>
			</a>
			<a href="/">
				<i class="icon-hup-mail"></i>
			</a>
			<a href="/">
				<i class="icon-hup-insta"></i>
			</a>
			<a href="/">
				<i class="icon-hup-twitter"></i>
			</a>
		</div>
	</div>
</footer>