{# Global variables #}
{{ solid.setGlobal("lang_multilanguage",true) }}
{{ solid.setGlobal("lang_multilanguage_list",["nl","fr","de","en","es"]) }}

{{ solid.setGlobal("lang_customfieldgroup_products","translations") }}
{{ solid.setGlobal("lang_customfieldgroup_pages","translations") }}
{# Social #}
{{ solid.setGlobal("social_url_facebook","https://www.facebook.com/solidshops") }}
{{ solid.setGlobal("social_url_twitter","https://twitter.com/solidshops") }}
{{ solid.setGlobal("social_url_linkedin","https://www.linkedin.com/company/solidshops-com") }}

{# Payment options printed in the footer #}
{{ solid.setGlobal("payment_images",["paypal","visa","mastercard","maestro","ideal","mister-cash","money"]) }}


{# Language logic #}
{# Check if language is different as the one set in the admin #}
{# ********************************************************** #}

{% if solid.getGlobal("lang_multilanguage") == true %}

    {{ solid.setGlobal("lang_key_db",solid.getLang("short")) }}
	
	{% set lang_key_url = "" %}
	{# Check if another language is detected in the url #}
    {% if solid.getUrlSegment(1) == "search" %}
      {% set lang_key_url = solid.getUrlSegment(2) %}
    {% elseif solid.getUrlSegment(1) == "contact" %}
      {% set lang_key_url = solid.getUrlSegment(2) %}
    {% else %}
      {% set lang_key_url = solid.getLastUrlSegment() %}
    {% endif %}


	
	{% if lang_key_url in solid.getGlobal("lang_multilanguage_list") %}
		{# other language #}
		{% set lang_key_admin = solid.getLang("short") %}
		{% if lang_key_url == lang_key_admin %}
			{{ solid.setGlobal("lang_isdefault",true) }}
		{% else %}
            {{ solid.setLang(lang_key_url) }}
			{{ solid.setGlobal("lang_isdefault",false) }}  
			{{ solid.setGlobal("lang_urlsuffix","/"~solid.getLang("short") ) }}
		{% endif %}
	{% else %}	
		{# default language #}
		{{ solid.setGlobal("lang_isdefault",true) }}
	{% endif %}	
	
{% else %}
	{{ solid.setGlobal("lang_isdefault",true) }}
{% endif %}




{# Set current uri #}
{# *************** #}

{% set uripath_base = solid.getUrlSegment(0) %}            
{% if solid.getLastUrlSegment() in solid.getGlobal("lang_multilanguage_list") %}
   {% set uripath_base = uripath_base[:-3] %}
{% endif %}
{% if solid.getUrlSegment(1) == "index" or solid.getUrlSegment(1) == ""   %}
{% set uripath_base = "/" %}
{% endif %}

{{ solid.setGlobal("uripath_base",uripath_base) }}


{# when a product detail page is opened, save translated data to globals #}
{# ********************************************************************* #}
{% if solid.getUrlSegment(1) == "product"  %}
  
  {% set p = product.get(solid.getUrlSegment(2))%}

  {% if solid.getGlobal("lang_isdefault") %}
    {{ solid.setGlobal("product_name",p.name) }}
    {{ solid.setGlobal("product_description",p.description) }}
  {% else %}


    {{ solid.setGlobal("product_name",attribute(attribute(p.custom_fields,solid.getGlobal("lang_customfieldgroup_products")),solid.getLang("short") ~"name").value) }}
    {% if solid.getGlobal("product_name") == "" %}
      {{ solid.setGlobal("product_name",arr_product.name )}}
    {% endif %}

    {{ solid.setGlobal("product_description",  attribute(attribute(p.custom_fields,solid.getGlobal("lang_customfieldgroup_products")),solid.getLang("short") ~"description").value)}}
    {% if solid.getGlobal("product_description") == "" %}
      {{ solid.setGlobal("product_description",description.name )}}
    {% endif %}

  {% endif %}
{% endif %}


{% set url_home = "/" %}
{% if solid.getGlobal("lang_isdefault") == false %}
  {% set url_home = "/index/" ~ solid.getLang("short") %}
{% endif %}
{{ solid.setGlobal("url_home",url_home )}}



{# 
#### These variables are set in this partial ###
{{solid.getGlobal("lang_multilanguage")}}
{{solid.getGlobal("lang_multilanguage_list")}}
{{solid.getGlobal("lang_customfieldgroup_products")}}
{{solid.getGlobal("lang_customfieldgroup_pages")}}

{{solid.getGlobal("lang_isdefault")}}
{{solid.getGlobal("lang_urlsuffix")}}
{{solid.getGlobal("lang_key_db")}}

{{solid.getGlobal("social_url_facebook")}}
{{solid.getGlobal("social_url_twitter")}}
{{solid.getGlobal("social_url_linkedin")}}

{{solid.getGlobal("uripath_base") }}

{{solid.getGlobal("product_name") }}
{{solid.getGlobal("product_description") }}

{{solid.getGlobal("url_home")}}
#}   
