


	<meta charset="utf-8" />
	<meta name="generator" content="Fork CMS" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">


	<title>{{ meta_title }}</title>

	<link href='https://fonts.googleapis.com/css?family=Lato:400,100italic,300,300italic,400italic,700,700italic,900,900italic,100' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{{ solid.files_url}}/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ solid.files_url}}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ solid.files_url}}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ solid.files_url}}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ solid.files_url}}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ solid.files_url}}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ solid.files_url}}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ solid.files_url}}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ solid.files_url}}/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ solid.files_url}}/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ solid.files_url}}/favicons/favicon-192x192.png" sizes="192x192">
    {# <link rel="icon" type="image/png" href="{$THEME_URL}/favicon-160x160.png" sizes="160x160"> #}
    <link rel="icon" type="image/png" href="{{ solid.files_url}}/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ solid.files_url}}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ solid.files_url}}/favicons/favicon-32x32.png" sizes="32x32">
	<link href="https://fontastic.s3.amazonaws.com/AXtYrtqZDZosPNQikz83C8/icons.css" rel="stylesheet">
	<meta name="description" content="{{ meta_description|strip_tags }}" />
	<meta name="keywords" content="{{ meta_keywords|strip_tags }}" /> 




	<!-- custom theme -->
	{{ solid.css("theme.css") }}

	
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>	
	
	<!-- Theme js -->
	{{ solid.js("theme.js") }}	


	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->




	
	{% set firstsegment = solid.getUrlsegment(1) %}
	{% if firstsegment == "" %}
		{% set meta_title = solid.shop_name %}
		{% set meta_description = solid.shop_name %}
		{% set meta_keywords = solid.shop_name %}
	{% elseif firstsegment == "page" %}
		{% set p = page.get() %}
		{% set meta_title = solid.shop_name ~ ' -> ' ~ p.name %}
		{% set meta_description = p.content|strip_tags|trim %}
		{% set meta_keywords = "" %}
	{% elseif firstsegment == "category" %}
		{% set cat = category.get() %}  
		{% set meta_title = solid.shop_name ~ ' -> ' ~ cat.name %}
		{% set meta_description = cat.name %}
		{% set meta_keywords = cat.name %} 
	{% elseif firstsegment == "cart" %}
		{% set cart = cart.get() %}
		{% set meta_title = solid.shop_name ~ ' ->  cart' %}
		{% set meta_description = "Cart for " ~ solid.shop_name %}
		{% set meta_keywords = ""%}    
	{% elseif firstsegment == "search" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.lang("header.search_results_for") ~ " " ~ solid.getUrlsegment(2)|url_decode %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "contact" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.lang("header.contact") %}
        {% set meta_description = "" %}
        {% set meta_keywords = "" %}
	{% elseif firstsegment == "product" %}
        {% set meta_title = solid.shop_name ~ ' -> ' ~ solid.getGlobal("product_name") %}
        {% set meta_description = solid.getGlobal("product_description") %}
        {% set meta_keywords = "" %} 
	{% endif %}



